<!-- <div class="max-w-[1440px] flex  pr-[200px] ">
  <div class="w-[280px] h-auto bg-textblue"></div>
  <div class="pl-[88px] w-full pb-[230px]">
    <div class="pt-[50px]  ">
      <p class="text-textblue text-[34px] leading-9 font-semibold">User Profile</p>
    </div>
    <div class="flex justify-end my-10">
      <input
        type="button"
        class="primary-button"
        value="Edit"
        (click)="edit()"
      >
    </div>
    <div class="w-full flex  gap-[100px] text-[14px] leading-5 tracking-wider {{isEdit?'opacity-50 ':'opacity-100'}}">
      <div class=" min-w-[280px] max-w-[330px]">
        <div>
          <app-input-label
            title="First name"
            data="khoa"
            [IsReadonly]="isEdit"
          ></app-input-label>
        </div>
        <div class="mt-8">
          <app-input-label
            title="Email"
            [IsReadonly]="true"
          ></app-input-label>
        </div>
        <div class="mt-8">
          <p class="mt-2">Date of birth</p>
          <app-text-input></app-text-input>
        </div>
        <div class="mt-8">
          <app-input-label
            title="ID/Passport number"
            placeholder="ID/Passport number"
            [IsReadonly]="isEdit"
            [Primary]="false"
          ></app-input-label>
        </div>
        <div class="mt-8">
          <app-input-label
            title="Phone number"
            placeholder="Phone number"
            [IsReadonly]="isEdit"
            [Primary]="false"
          ></app-input-label>
        </div>

      </div>

      <div class=" min-w-[280px] max-w-[330px]">
        <div>
          <app-input-label
            title="Last name"
            [IsReadonly]="isEdit"
          ></app-input-label>
        </div>
        <div class="mt-8">
          <app-input-label
            title="User Id"
            [IsReadonly]="true"
          ></app-input-label>
        </div>
        <div class="mt-8">
          <p class="mt-2">Date of birth</p>
          <app-text-input></app-text-input>
        </div>
        <div class="mt-8">
          <app-input-label
            title="Country"
            placeholder="Country"
            [Primary]="false"
            [IsReadonly]="isEdit"
          ></app-input-label>
        </div>
        <div class="mt-8">
          <app-input-label
            title="Address"
            placeholder="Address"
            [Primary]="false"
            [IsReadonly]="isEdit"
          ></app-input-label>
        </div>

      </div>
    </div>
    <div class="flex justify-between mt-10">
      <input
        type="button"
        class="w-[120px] cursor-pointer text-[16px] leading-6 font-semibold tracking-wider h-[50px] rounded-[16px] {{status ==='Deactive'?'text-red bg-reddeactive':'text-textgre bg-greenactive'}} "
        value="{{status}}"
      >
      <input
        type="button"
        class="primary-button"
        value="Save"
      >
    </div>
  </div>
</div> -->
