<div
  class="
lg:px-[40px] lg:bg-blue xl:max-w-full lg:mt-[50px]
px-[16%] bg-white h-full"
  [formGroup]="formforgotpassword"
>
  <div class="lg:hidden w-full">
    <div (click)="back()">
      <img
        src="/assets/icons/Back Arrow.svg"
        class="w-[30px] h-[30px] "
      >
    </div>
    <p class="text-[24px]  font-medium text-blue leading-6 text-center">FORGOT PASSWORD</p>
    <img
      src="/assets/img/logo-forgot-password.png"
      class="m-auto pt-[4%]"
    >
  </div>
  <div class=" 
    w-full lg:flex lg:py-[30px] justify-around xl:max-w-[1363px] xl:px-[30px] lg:bg-white rounded-xl m-auto">
    <div class=" lg:flex justify-center w-[50%] hidden ">
      <img
        src="/assets/img/edit_21.png"
        class="aspect-[5/3]"
      >
    </div>
    <div [class]="animation">
      <div>
        <div class="text-center">
          <p class=" lg:block lg:text-[30px] text-blue font-semibold text-[48px] hidden  
                ">Forgot your password?</p>
          <div class="pt-[35px]">
            <p class=" lg:text-[14px] text-[18px] font-normal leading-5 text-blue lg:inline ">Please enter your email</p>
            <p class=" lg:ml-1 lg:text-[14px] text-[18px] font-normal leading-5 text-blue lg:inline">address to receive a</p>
            <p class="lg:ml-1 lg:text-[14px] text-[18px] font-normal leading-5 text-blue xl:inline">Verification code</p>
          </div>
        </div>
        <div class="mt-[80px] xl:ml-[30px] px-[20px] ">
          <div>
            <p class="
             lg:font-medium lg:leading-7 
                text-[16px] leading-5 text-blue font-normal">Email Address</p>
            <app-text-input
              formControlName="e"
              [formFieldControl]="fields.e"
              [errrorMessages]="textFieldErrors"
              [(ngModel)]="email"
            ></app-text-input>
          </div>
          <div class="
            xl:mt-[15%]
            mt-[10%] 
            ">
            <input
              type="button"
              class=" lg:hidden button-short m-auto bg-blue cursor-pointer flex"
              value="SEND"
              (click)="log()"
              [disabled]="ishidden()"
            >
            <input
              type="button"
              class=" lg:block button-long w-full hidden cursor-pointer"
              value="SEND"
              [disabled]="ishidden()"
              (click)="log()"
            >
            <div class=" lg:block mt-[35px] text-center hidden">
              <a
                routerLink="/login"
                class=" lg:text-[16px] text-[18px] text-blue font-medium cursor-pointer leading-5"
              >
                Back to SIGN IN
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
